.editorconfig export-ignore
.gitignore export-ignore
tests export-ignore
docs export-ignore
.github export-ignore
.readthedocs.yaml export-ignore
captainhook.json export-ignore
phpunit.xml export-ignore
pint.json export-ignore
rector.php export-ignore
index.php export-ignore
routes.php export-ignore
route_cache_examples.php export-ignore
.htaccess export-ignore
.gitattributes export-ignore
webrick export-ignore

*  text eol=lf
